* {
    margin: 0;
}
.heading {
    background-color: #cccccc;
    text-align: center;
    font-size: 30px;
}
p, .paragraph {
    background-color: #dddddd;
    text-align: center;
    font-size: 12px;
}
table {
    border: 1px solid #999999;
}
td {
    border: 1px solid #999999;
}